force-app/main/default/flows/Screen_Create_Lead_for_Shipping_Specialist.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Update_Lead_Owner</name>
        <label>Update Lead Owner</label>
        <locationX>558</locationX>
        <locationY>276</locationY>
        <assignmentItems>
            <assignToReference>LeadRecordVariable.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LookupElement.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Lead</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Screen - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Screen - Create Lead for Shipping Specialist</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Lead</name>
        <label>Create Lead</label>
        <locationX>718</locationX>
        <locationY>284</locationY>
        <connector>
            <targetReference>FinalScreen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>ErrorScreen</targetReference>
        </faultConnector>
        <inputReference>LeadRecordVariable</inputReference>
    </recordCreates>
    <screens>
        <name>ErrorScreen</name>
        <label>ErrorScreen</label>
        <locationX>717</locationX>
        <locationY>485</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;An error Occurred:&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;{!$Flow.FaultMessage}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Please try again, and if the issue persists please send this error message to your Salesforce Administrator.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>FinalScreen</name>
        <label>FinalScreen</label>
        <locationX>926</locationX>
        <locationY>281</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DisplayText2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;The lead has been successfully created! You may close this window. &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenOne</name>
        <label>ScreenOne</label>
        <locationX>181</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>ScreenTwo</targetReference>
        </connector>
        <fields>
            <name>CallScript1</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Great question! I can schedule an appointment with a Shipping Specialist to answer that for you. May I have your name again please?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>LeadRecordVariable.Name</objectFieldReference>
        </fields>
        <fields>
            <name>CallScript2</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Thank you! In case we get disconnected may I have your phone or email?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Email</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>CallScript3</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Awesome! And may I also have the name of the company you&apos;re calling with?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>LeadRecordVariable.Company</objectFieldReference>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>ScreenTwo</name>
        <label>ScreenTwo</label>
        <locationX>366</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Update_Lead_Owner</targetReference>
        </connector>
        <fields>
            <name>CallScript4</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Great, thanks so much! And what questions do you have for our shipping specialist?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>LeadRecordVariable.Description</objectFieldReference>
        </fields>
        <fields>
            <name>CallScript5</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Thank you! What&apos;s the best way to reach and when would you like our team to follow up?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>LeadRecordVariable.Preferred_Contact_Method__c</objectFieldReference>
        </fields>
        <fields>
            <fieldType>ObjectProvided</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <objectFieldReference>LeadRecordVariable.Follow_Up_Date__c</objectFieldReference>
        </fields>
        <fields>
            <name>DisplayText1</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;[Internal Use Only] Please select a shipping specialist using the field below.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>LookupElement</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>CreatedById</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Lead</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Shipping Specialist</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>279</locationX>
        <locationY>52</locationY>
        <connector>
            <targetReference>ScreenOne</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Represent our new lead record</description>
        <name>LeadRecordVariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
</Flow>
